<!DOCTYPE HTML>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>OBS 日志分析器</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="page-header my-5" id="banner">
			<div class="row">
				<div class="col-lg-8 col-md-7 col-sm-6">
					<h1>OBS 日志分析器</h1>
					<p class="lead">请<a href="https://github.com/obsproject/loganalyzer/issues/new">报告</a>所有崩溃以及导致崩溃的日志。
					</p>
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<p class="lead">
				在 OBS 中选择“帮助” -&gt; “日志文件” -&gt; “上传当前日志文件”。复制链接并粘贴到此处。
			</p>
		</div>
		<div class="row mx-3 no-gutters">
			<div class="col">
				<form method="get" action="">
					<fieldset>
						<div class="form-group">
							<div class="row">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">输入日志链接</span>
									</div>
									<input class="form-control" id="logUrlInput" aria-describedby="urlHelp"
										placeholder="在此粘贴日志链接" value="{ph}" name="url" type="text">
									<div class="input-group-append">
										<button type="submit" class="btn btn-primary">分析</button>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row mb-3">
			<div class="col-lg-12">
				<div class="page-header">
					<h2 id="output">对 <small class="text-muted">“{description}”</small> 的日志分析</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="card text-white border-danger mb-3" style="max-width: 20rem;">
					<h5 class="card-header">严重</h5>
					<div class="card-body">
						{summary_critical}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white border-warning mb-3" style="max-width: 20rem;">
					<h5 class="card-header">警告</h5>
					<div class="card-body">
						{summary_warning}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card text-white border-info mb-3" style="max-width: 20rem;">
					<h5 class="card-header">信息</h5>
					<div class="card-body">
						{summary_info}
					</div>
				</div>
			</div>
		</div>
		{details}
	</div>
</body>

</html>
